
#myId{
    color:blue;
}
.Myclass{
    background-color: brown;
}
/*#login,
 #signup
 {
background-color: aqua;
}  this ios one method to apply style this is by id selector*/

/* now tet us do universal */
.userbtn{

    background-color: aqua;

}
/* descendent selectors*/
p a{color:blanchedalmond;

}
.post a{
    background-color: green;
}
/* here always , remeber that i'm styling the button 
which is next to upvote. som we are stylling th ebutton n
which  os after the classupvote*/ 
.upvote + button{
    background-color: black;
    color:white;
}